<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ site.url }}">
                {% if logo_principale %}
                    {% set image_logo_principale = get_image(logo_principale) %}
                    <picture>
                        <source srcset="{{ image_logo_principale.src|towebp }}"
                                type="image/webp">
                        <source srcset="{{ image_logo_principale.src }}}">
                        <img id="logo_desktop" src="{{ image_logo_principale.src|towebp }}"
                             alt="{{ image_logo_principale.alt }}"
                             width="{{ image_logo_principale.width }}"
                             height="{{ image_logo_principale.height }}"/>
                    </picture>
                {% else %}
                    {{ site.name }}
                {% endif %}
            </a>
            
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon icon-open"
                             viewBox="0 0 16 16">
                            <path d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon icon-close"
                             viewBox="0 0 16 16">
                            <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                        </svg>
                    </span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% include "partials/menu.twig" with {'items': menu.get_items, 'id': 'menu-main-menu'} %}
            </div>
        </div>
    </nav>
</header>
