<!doctype html>
<html class="no-js no-svg" {{ site.language_attributes }}>
<head>
    {% block html_head_container %}
        {% include 'partials/html-head.twig' %}
        {% block head %}
        {% endblock %}
    {% endblock %}
</head>

<body class="{{ body_class }} header_{% if post.meta('tipo_header') %}{{ post.meta('tipo_header') }}{% else %}chiaro{% endif %}{% if post.meta('classi_custom') %} {{ post.meta('classi_custom') }}{% endif %}"
      data-template="base.twig">
<div class="body-loader"></div>

{% include 'partials/header.twig' %}

<main id="main-content" role="main" class="content-wrapper">
    {% block content %}
        Sorry, no content
    {% endblock %}
</main>

{% block footer %}
    {% include 'partials/footer.twig' %}
    
    {{ function('wp_footer') }}
{% endblock %}

</body>
</html>
