{% extends "base.twig" %}

{% block content %}
    <article class="container">
        <header>
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail.src('large') }}" alt="{{ post.title }}" />
            {% endif %}
            <h1>{{ post.title }}</h1>
            
            <p>
                <time
                        datetime="{{ post.date('Y-m-d H:i:s') }}"
                >{{ post.date }}</time>
            <p>
                
                {% for term in post.terms %}
                    <a href="{{ term.link }}">
                        {{ term.name }}
                    </a>
                {% endfor %}
        </header>
        
        {{ post.content }}
    </article>
{% endblock %}
