{% extends "base.twig" %}

{% block content %}
    <article class="container">
        
        <header>
            <img src="{{ post.thumbnail.src('large') }}" alt="{{ post.title }}"/>
            <h1>{{ post.title }}</h1>
            
            <p>
                <time
                        datetime="{{ post.date('Y-m-d H:i:s') }}"
                >{{ post.date }}</time>
            <p>
                
            {% for term in post.terms %}
                <a href="{{ term.link }}">
                    {{ term.name }}
                </a>
            {% endfor %}
        </header>
        
        <section>
            {{ post.content }}
        </section>
    </article>
{% endblock %}
